<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Commodities</h1>
    <p class="lead">A list of commodities that are being bought and sold on the blockchain!</p>
  </div>
</div>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Trading Symbol</th>
          <th scope="col">Description</th>
          <th scope="col">Main Exchange</th>
          <th scope="col">Quantity</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tr *ngFor="let commodity of commodities">
        <td>{{commodity.tradingSymbol}}</td>
        <td>{{commodity.description}}</td>
        <td>{{commodity.mainExchange}}</td>
        <td>{{commodity.quantity}}</td>
        <td>{{commodity.owner}}</td>
      </tr>
    </table>
  </div>
  